
@import 'variable';
main{
    display: flex;
    width: 100%;

    // Styling the aside space

    aside{
        width: 15%;
        background: url('/images/img/dash-img.jpg');
        background-repeat: no-repeat;
        background-position: left left;
        background-size: cover;
        position: relative;

        &::before{
            content: '';
            position: absolute;
            height: 100%;
            width: 100%;
            top: 0;
            left: 0;
            background-color: rgba(0, 0, 0, 0.6);
    
        }

        // the aside navbar css
        nav{
            display: flex;
            justify-content: center;
            align-items: center;
            position: relative;
            width: 100%;
            background-color: rgba(0, 0, 0, .6);
            padding: 0;

            ul{
                display: flex;
                flex-direction: column;
                width: 100%;
                margin: 0;
                padding: 0;
                margin-top: 12em;
                position: sticky;
                background-color: rgba(0, 0, 0, 0.6);

                li{
                    width: 100%;
                    z-index: 9999;
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    background-color: black;
                    padding: 1em .8em;
                    cursor: pointer;
                    transition: all .3s ease-in-out;

                    &:hover{
                        background-color: $white;
                        color: #F04EE6;
                        border-left: 5px solid #F04EE6;

                        a{
                            color: #F04EE6;
                        }

                        .bi-plus{
                            color: #F04EE6;
                        }
                    }

                    a{
                        text-decoration: none;
                        color: white;
                        font-size: 15pt;
                        text-transform: uppercase;
                        font-weight: 500;

                        &:hover{
                            color: none;
                        }
                    }

                    .bi-plus{
                        font-size: 30px;
                        font-weight: 500;
                        cursor: pointer;
                        color: white;
                    }
                   
                }

                .active{
                    background-color: white;
                    border-left: 5px solid #F04EE6;

                    .active-click{
                        color: #F04EE6;
                    }

                    .bi-plus{
                        color: #F04EE6;
                        cursor: pointer;
                    }
                }

                
                
            }
        }
    }


    // styling the header navbar
    nav{
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        background-color: #FFFFFF;
        padding: 1em 2em;

        .icons{
            width: 100%;
            display: flex;

            .def-icons{
                width: 10%;
                display: flex;
                justify-content: center;
                align-items: center;
                span{
                    &:nth-child(2){
                        margin: 0 1em;
                    }
                }

                .fade-out{
                    cursor: pointer;
                    position: relative;

                    

                    

                    

                    .add-dropdown.show{
                        display: block;
                    }

                
                    &:hover{
                        opacity: .8;
                
                        .tool-tip{
                            display: block;
                            background-color: $black;
                        animation: lost 3s ease-in-out;
                        }
                    }
                
                }

                .fade-out{
                    .add-dropdown{
                        position: absolute;
                        top: 30px;
                        left: 0;
                        display: flex;
                        justify-content: flex-start;
                        align-items: center;
                        display: none;
                        width: 150px;

                        

                        ul{
                            width: 100%;
                            height: inherit;
                            background-color: rgb(236, 236, 236);
                            padding: .5em;
                            backdrop-filter: blur(10px);

                            li{
                                margin-top: .5em;
                                padding: .3em .5em;
                                transition-delay: .2s;
                                transition: all .4s ease-in;

                                &:hover{
                                    backdrop-filter: blur(20px);
                                    background-color: rgb(185, 184, 184);
                                    font-weight: 400;
                                    color: black;
                                }
                            }
                        }
                        
                    }
                }
            }

            .search-bar{
                width: 50%;
                padding: 0;
                margin: 0;
                input{
                    width: 100%;
                    border-radius: 30px;
                    background-color: #F8F8F8;
                    border: none;
                    background-image: url('/images/svgs/search.svg');
                    background-repeat: no-repeat;
                    background-position: left;
                    background-position-x: 1em;

                   
                }
            }

            ::placeholder{
                color: gray;
                padding-left: 4em;
            }
        }

        .notif-user{
            width: 35%;
            display: flex;
            justify-content: space-evenly;

            .notif{
                position: relative;
                
                .messages{
                    position: absolute;
                    width: 20px;
                    height: 20px;
                    background-color: rgb(238, 150, 150);
                    display: block;
                    top: .2em;
                    right: -.5em;
                    color: white;
                    text-align: center;
                    font-size: 12px;
                    border-radius: 50%;

                }
               
            }

            .user-details{
                display: flex;
                justify-content: space-between;
                .user-img{
                    width: 50px;
                    height: 50px;
                    border-radius: 50%;
                    background-image: url('/images/img/julian.jpg');
                    background-position: center;
                    background-size: cover;
                    background-repeat: no-repeat;
                    position: relative;

                    &::before{
                        content: '';
                        width: 15px;
                        height: 15px;
                        background-color: #4BB76B;
                        position: absolute;
                        bottom: 0;
                        right: 0;
                        border-radius: 50%;
                    }
                }

                .user-name{
                    margin-left: .8em;
                    h4{
                        margin: 0;
                    }
                    .online{
                        display: block;
                        margin-bottom: 2em;
                        font-size: 15px;
                        color: #4BB76B;
                    }
                }
            }
        }
    }

    
}

.content{
    width: 100%;
    border: 3px solid red;

    .stats-container{
        background-color: rgba(212, 212, 212, 0.13);
        padding: .5em 3em;
        animation: scroolUp 1.5s ease-in-out;
        .the-card-container{
            display: grid;
            grid-template-columns: repeat(4, auto);
            column-gap: 1em;
            margin-top: 1em;
            .one-card{
                display: flex;
                justify-content: space-between;
                background-color: $white;
                padding: 1em 1.5em;
                border-radius: 8px;
                box-shadow: 0px 3px 8px 2px rgba(0, 0, 0, 0.1);
                .icon{
                    width: 100px;
                    height: 100px;
                    border-radius: 50%;
                    background-color: $pastelPink;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    
                    i{
                        font-size: 38px;
                        color: #F04EE6;
                    }

                    
                }
                .text{
                    margin-right: .5em;

                    .stats-text{
                        h2{
                            margin: 0;
                            padding: 0;
                        }
                        p{
                            margin: 0;
                            padding: 0;
                            margin-bottom: 1em;
                        }
                    }
                    
                    .stats-btn{
                        display: flex;
                        justify-content: center;
                        align-items: center;

                        button{
                            background-color: $lightGreen;
                            width: 100%;
                            padding: .5em 3em;
                            color: white;
                            transition: background-color .8s ease-in-out;

                            &:hover{
                                background-color: $lightGreen;
                                opacity: .8;
                            }
                        }
                    }
                }

                &:nth-child(2){
                    .icon{
                        background-color: #EDFCF4;

                        i{
                            color: #33DF83;
                        }
                    }
                }

                &:nth-child(3){
                    .icon{
                        background-color: #E6FFFD;

                        i{
                            color: #65C6FF;
                        }
                    }
                }

                &:nth-child(4){
                    .icon{
                        background-color: #FFF0FE

                        i{
                            color: #F258E8;
                        }
                    }
                }

            }
        }

        // Syling the graph container here


        .canvas-section{
            width: 100%;
            display: flex;
            
            // padding: .5em 2.5em;
            margin-top: 3em;

            .first-line-graph{
                padding: 2em;
                width: 70%;
                height: 70%;
                border-radius: 10px;
                box-shadow: 0px 2px 10px 1px rgba(0, 0, 0, 0.1);
                transition: all 1s ease-in-out;
                background-color: $white;


                .heading{
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    // padding: .5em 1em;
                    border-bottom: 3px solid rgba(135, 207, 235, 0.377);

                    h4{
                        text-transform: uppercase;
                        margin: 0;
                        padding: 0;
                    }

                    .date-dropdown{
                        display: flex;
                        justify-content: space-evenly;
                        align-items: center;

                        i{
                            font-size: 18px;
                            color: $lightGray;
                            margin: .5em 0em;
                        }
                        h6{
                            margin: 0 1em;
                        }
                    }
                }
            }

            .canvas-graph-section{
                width: 100%;
                transition: all .5s ease-in-out;

            }



            .second-pie-chart{
                padding: 2em;
                width: 30%;
                height: 70%;
                margin-left: 2em;
                border-radius: 10px;
                background-color: $white;
                box-shadow: 0px 2px 10px 1px rgba(0, 0, 0, 0.1);

                .heading{
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    // padding: .5em 1em;
                    border-bottom: 3px solid rgba(135, 207, 235, 0.349);

                    h4{
                        text-transform: uppercase;
                        margin-bottom: 0 !important;
                        padding: 0;
                    }

                    .date-dropdown{
                        display: flex;
                        justify-content: space-evenly;
                        align-items: center;

                        i{
                            font-size: 18px;
                            color: $lightGray;
                            margin: .5em 0em;
                        }
                        
                        h6{
                            
                            padding: 0;
                            margin: 0 1em;
                            
                        }
                    }
                }

                .canvas-pie-chart{
                    // width: 100%;
                    width: 100%;
                    transition: all .5s ease-in-out;

                    .stats-detail{
                        width: 100%;
                        
                        table{
                            width: 100%;
                            display: table;
                            vertical-align: center;
                            horizontal-align: center;
                            margin: 1em 0em;
                            td{
                                padding: .5em 0;
                                font-size: 18px;
                                font-weight: 500;
                            }
                            .stat-btn{
                                font-weight: 400;
                                background-color: $pastelPink;
                                border-radius: 30px;
                                padding: .1em .8em;
                                display: flex;
                                justify-content: center;
                                align-items: center;
                                text-align: center;
                                color: white;
                                
                            }

                            .ship{
                                background-color: $warmBlue;
                            }
                            .warehs{
                                background-color: $summary;
                            }
                        }
                    }
                }
            }
            
        }
    }

}

#myChart{
    width: 100% !important;
    transition: all .5s ease-in-out .3s;
}

#statChart{
    width: 310px !important;
    height: 310px !important;
    margin-top: 3em;
    transition: all .5s ease-in-out;

}

.recent-order-section{
    display: flex;
    margin-top: 5em;
    width: 100%;

    .recent-order-table{
        width: 100%;
        h1{
            margin: 0;
            font-weight: 500;
            margin-bottom: 1em;
        }

        table{
            width: 100%;
            border-collapse: separate;
            border-spacing: 0em 2em;
            
            tr{
                border-radius: 10px;
                background-color: $white;
                cursor: pointer;
                border-radius: 10px;
                
                &:hover{
                    opacity: .8;
                }

                &:nth-child(odd){
                    background-color: $lightGray;
                    
                }
                &:first-child{
                    cursor: auto;

                    &:hover{
                        opacity: 1;;
                    }
                }

            }
            th{
                font-weight: 600;
                background-color: $lightGray;
                padding: 1em
            }

            th, td{
                width: 16.6%;
                text-align: center;
               
            }
            td{
                padding:.5em;
                font-weight: 400;
            }
            span{
                background-color: $lightGreen;
                color: rgb(255, 255, 255);
                padding: .2em 1em;
                border-radius: 30px;
                cursor: pointer;
            }

            .cus-recent{
                display: flex;
                justify-content: center;
                align-items: center;
                width: 100%;
            }

            .cus-img{
                height: 50px;
                width: 50px;
                border-radius: 50%;
                overflow: hidden;
                display: flex;
                justify-content: center;
                align-items: center;


                img{
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                    transition: all .4s ease-in-out;

                    &:hover{
                        transform: scale(1.2);
                    }

                }
            }
        }
    }

    .recent-order-graph{
       
        width: 30%;
        height: fit-content;
        background-color: $white;
        border-radius: 10px;
        box-shadow: 0px 2px 10px 1px rgba(0, 0, 0, 0.1);
        margin-left: 2.1em;
        padding: 1em .8em;
        .head{
            // margin-bottom: 2em;
        }

        .chart-container{
            h5{
                color: $lightGray;
                padding-bottom: .5em;
            }

            .price{
                display: flex;
                justify-content: space-between;
                align-items: center;;
                padding: 0 1em;
                margin-bottom: 8em;

                h6{
                    color: $lightGreen
                }
            }
            
        }
    }
}

@keyframes scroolUp{
    from{
        transform: translateY(5%);
        opacity: .1;
    }
    to{
        transform: translateY(0%);
        opacity: 1;
    }
}

@keyframes lost{
    from{
        opacity: 1;
        display: block;
    }
    to{
        opacity: 0;
        display: none;
    }
}