
// Colors
// Customer list table colors variables

$lightGreen : #4BB76B;
$lightGray : #E8E8E8;
$warmBlue : #3CA4E9;
$white: #ffffff;
$black: #000000;

// Order details table color variables

$fadeBlack : rgba(0, 0, 0, 0.16);
$textGreen : #60D512;
$summary : #E4F5F9;
$red : #FC0606;
$pastelPink : #E3BCEE;