<aside>
    <nav>
        <ul>
            <li>
                <a href="/">dashboard</a>
                <i class="bi bi-plus"></i>
            </li>
            <li>
                <a href="/item-list">Item List</a>
                <i class="bi bi-plus"></i>
            </li>
            <li class="active">
                <a href="/order-details" class="active-click">Order List</a>
                <i class="bi bi-plus"></i>
            </li>
            <li>
                <a href="/customer-list">Customer</a>
                <i class="bi bi-plus"></i>
            </li>
        </ul>
    </nav> 
</aside>