<nav>
    <div class="icons">
        <div class="def-icons">
            <span class=fade-out>
                <img src="../images/svgs/Plus_circle.svg" alt="" id="global-add">
                
                <div class="add-dropdown">
                    <ul>
                        <li>Add an item</li>
                        <li>Add a customer</li>
                        <li>Add an order</li>
                    </ul>
                </div>
            </span>
            <span>
                <img src="../images/svgs/arrow-repeat.svg" alt="">
            </span>
        </div>
        <div class="search-bar">
            <input type="search" name="search-bar" id="search-order" placeholder="search">
        </div>
    </div>
    <div class="notif-user">
        <div class="notif">
            <!-- Include an icon here -->
            <span>
                <i class="bi bi-bell" style="color: #B489EB;"></i>
            </span>
            <span class="messages">1</span>
        </div>
        <div class="user-details">
            <div class="user-img"></div>
            <div class="user-name">
                <h4>Javny Pradic</h4>
                <span class="online">Online</span>
            </div>
        </div>
    </div>
</nav>