<!DOCTYPE html>
<html lang="en">
<%- include('./partials/cus-head') %> 
<body>
    <main>

        <%- include('./partials/aside-bar') %> 
        
        <div class="content">
            <%- include('./partials/navbar') %> 

            <!-- The brief section implentation -->
            <div class="brief">

                <div class="brief-1">
                    <h1>ALL CUSTOMER</h1>
                    <div class="small-box">
                        <span class="new" id="new-customer">
                            <img src="../images/svgs/plus.svg" alt="add new">
                            <h4>New</h4>
                        </span>
                        <div class="button-container">
                            <button>
                                <img src="../images/svgs/grid.svg" alt="grid mode display" width="50">
                            </button>
                            <button>
                                <img src="../images/svgs/list.svg" alt="List mode dispaly" width="50">
                            </button>
                        </div>
                    </div>
                </div>

                <div class="search-cus">
                    <input type="search" placeholder="search">
                    <img src="../images/svgs/caret-down.svg" alt="carret icon">
                </div>
            </div>
            <!-- Brief section ends here -->

            <!-- The customer's table section -->

            <div class="table-section">
                <table class="cus-table">
                    <tbody>
                        <tr>
                            <th>#</th>
                            <th>Img</th>
                            <th>Customer ID</th>
                            <th>Customer name</th>
                            <th>Email</th>
                            <th>Phone</th>
                        </tr>

                        <tr>
                            <td>0</td>
                            <td>
                                <div class="cus-img">
                                    <img src="../images/img/user (1).jpg" alt="" width="100">
                                </div>
                            </td>
                            <td>
                                CI-0000
                            </td>
                            <td>Julian Mane</td>
                            <td>julianmane@gmail.com</td>
                            <td>+237 643 032 320</td>
                        </tr>

                        <tr>
                            <td>1</td>
                            <td>
                                <div class="cus-img">
                                    <img src="../images/img/user (2).jpg" alt="" width="100">
                                </div>
                            </td>
                            <td>
                                CI-0001
                            </td>
                            <td>Julian Mane</td>
                            <td>julianmane@gmail.com</td>
                            <td>+237 643 032 320</td>
                        </tr>

                       
                        <tr>
                            <td>2</td>
                            <td>
                                <div class="cus-img">
                                    <img src="../images/img/user (4).jpg" alt="" width="100">
                                </div>
                            </td>
                            <td>
                                CI-0002
                            </td>
                            <td>Julian Mane</td>
                            <td>julianmane@gmail.com</td>
                            <td>+237 643 032 320</td>
                        </tr>

                        <tr>
                            <td>3</td>
                            <td>
                                <div class="cus-img">
                                    <img src="../images/img/user (5).jpg" alt="" width="100">
                                </div>
                            </td>
                            <td>
                                CI-0002
                            </td>
                            <td>Julian Mane</td>
                            <td>julianmane@gmail.com</td>
                            <td>+237 643 032 320</td>
                        </tr>

                        <tr>
                            <td>4</td>
                            <td>
                                <div class="cus-img">
                                    <img src="../images/img/user (1).jpg" alt="" width="100">
                                </div>
                            </td>
                            <td>
                                CI-0002
                            </td>
                            <td>Julian Mane</td>
                            <td>julianmane@gmail.com</td>
                            <td>+237 643 032 320</td>
                        </tr>

                        <tr>
                            <td>5</td>
                            <td>
                                <div class="cus-img">
                                    <img src="../images/img/user (5).jpg" alt="" width="100">
                                </div>
                            </td>
                            <td>
                                CI-0002
                            </td>
                            <td>Julian Mane</td>
                            <td>julianmane@gmail.com</td>
                            <td>+237 643 032 320</td>
                        </tr>

                        <tr>
                            <td>6</td>
                            <td>
                                <div class="cus-img">
                                    <img src="../images/img/user (4).jpg" alt="" width="100">
                                </div>
                            </td>
                            <td>
                                CI-0002
                            </td>
                            <td>Julian Mane</td>
                            <td>julianmane@gmail.com</td>
                            <td>+237 643 032 320</td>
                        </tr>

                        <tr>
                            <td>7</td>
                            <td>
                                <div class="cus-img">
                                    <img src="../images/img/user (1).jpg" alt="" width="100">
                                </div>
                            </td>
                            <td>
                                CI-0002
                            </td>
                            <td>Julian Mane</td>
                            <td>julianmane@gmail.com</td>
                            <td>+237 643 032 320</td>
                        </tr>

                        <tr>
                            <td>8</td>
                            <td>
                                <div class="cus-img">
                                    <img src="../images/img/user (5).jpg" alt="" width="100">
                                </div>
                            </td>
                            <td>
                                CI-0002
                            </td>
                            <td>Julian Mane</td>
                            <td>julianmane@gmail.com</td>
                            <td>+237 643 032 320</td>
                        </tr>

                        <tr>
                            <td>9</td>
                            <td>
                                <div class="cus-img">
                                    <img src="../images/img/user (4).jpg" alt="" width="100">
                                </div>
                            </td>
                            <td>
                                CI-0002
                            </td>
                            <td>Julian Mane</td>
                            <td>julianmane@gmail.com</td>
                            <td>+237 643 032 320</td>
                        </tr>
                    </tbody>
                </table>
            </div>


            <!-- The modal structure over here -->
            <div class="modal-section">
                <div class="customer-container">
                    <i class="bi bi-x-circle"></i>
                    <div class="modal-img">
                        <img src="../images/img/cus-bg.jpg" alt="" width="100">
                    </div>
                    <div class="modal-form">
                        <h1 class="modal-heading">New Customer</h1>
                        <form action="">
                            <div class="avatar">
                                <label for="Avatar">Avatar</label>
                                <div class="avatar-container">
                                    <button class="add-img">Upload <i class="bi bi-pencil"></i></button>
                                </div>
                            </div>
                            <div class="modal-data">
                                <label for="">First Name</label>
                                <input type="text" name="customer-name" id="">
                            </div>

                            <div class="modal-data">
                                <label for="">Email</label>
                                <input type="text" name="customer-name" id="">
                            </div>

                            <div class="modal-data">
                                <label for="">Address</label>
                                <input type="text" name="customer-name" id="">
                            </div>

                            <div class="modal-data">
                                <label for="">Password</label>
                                <input type="text" name="customer-name" id="">
                            </div>

                            <div class="modal-data">
                                <label for="">Confirm Password</label>
                                <input type="text" name="customer-name" id="">
                            </div>

                            <div class="role-container">
                                <label for="">Role</label>
                                <select name="role" id="">
                                    <option value="customer">Customer</option>
                                    <option value="Delivery Person">Delivery Person</option>
                                    <option value="Admin">Admin</option>
                                </select>
                            </div>

                            <div class="modal-btn">
                                <button class="btns-cancel">cancel</button>
                                <button class="btns-submit">Submit</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>

            <!-- The modal structure ends here -->
        </div>

        
    </main>

    <script src="../src/JS/app.js"></script>
</body>
</html>