main {
  display: flex;
  width: 100%;
}
main aside {
  width: 15%;
  background: url("/images/img/dash-img.jpg");
  background-repeat: no-repeat;
  background-position: left left;
  background-size: cover;
  position: relative;
}
main aside::before {
  content: "";
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.6);
}
main aside nav {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  padding: 0;
}
main aside nav ul {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: 0;
  padding: 0;
  margin-top: 12em;
}
main aside nav ul li {
  width: 100%;
  z-index: 9999;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: black;
  padding: 1em 0.8em;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}
main aside nav ul li:hover {
  background-color: #ffffff;
  color: #F04EE6;
  border-left: 5px solid #F04EE6;
}
main aside nav ul li:hover a {
  color: #F04EE6;
}
main aside nav ul li:hover .bi-plus {
  color: #F04EE6;
}
main aside nav ul li a {
  text-decoration: none;
  color: white;
  font-size: 15pt;
  text-transform: uppercase;
  font-weight: 500;
}
main aside nav ul li a:hover {
  color: none;
}
main aside nav ul li .bi-plus {
  font-size: 30px;
  font-weight: 500;
  cursor: pointer;
  color: white;
}
main aside nav ul .active {
  background-color: white;
  border-left: 5px solid #F04EE6;
}
main aside nav ul .active .active-click {
  color: #F04EE6;
}
main aside nav ul .active .bi-plus {
  color: #F04EE6;
  cursor: pointer;
}
main nav {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  background-color: #FFFFFF;
  padding: 1em 2em;
}
main nav .icons {
  width: 100%;
  display: flex;
}
main nav .icons .def-icons {
  width: 10%;
  display: flex;
  justify-content: center;
  align-items: center;
}
main nav .icons .def-icons span:nth-child(2) {
  margin: 0 1em;
}
main nav .icons .search-bar {
  width: 50%;
  padding: 0;
  margin: 0;
}
main nav .icons .search-bar input {
  width: 100%;
  border-radius: 30px;
  background-color: #F8F8F8;
  border: none;
  background-image: url("/images/svgs/search.svg");
  background-repeat: no-repeat;
  background-position: left;
  background-position-x: 1em;
}
main nav .icons ::placeholder {
  color: gray;
  padding-left: 4em;
}
main nav .notif-user {
  width: 35%;
  display: flex;
  justify-content: space-evenly;
}
main nav .notif-user .notif {
  position: relative;
}
main nav .notif-user .notif .messages {
  position: absolute;
  width: 20px;
  height: 20px;
  background-color: #ee9696;
  display: block;
  top: 0.2em;
  right: -0.5em;
  color: white;
  text-align: center;
  font-size: 12px;
  border-radius: 50%;
}
main nav .notif-user .user-details {
  display: flex;
  justify-content: space-between;
}
main nav .notif-user .user-details .user-img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-image: url("/images/img/julian.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
}
main nav .notif-user .user-details .user-img::before {
  content: "";
  width: 15px;
  height: 15px;
  background-color: #4BB76B;
  position: absolute;
  bottom: 0;
  right: 0;
  border-radius: 50%;
}
main nav .notif-user .user-details .user-name {
  margin-left: 0.8em;
}
main nav .notif-user .user-details .user-name h4 {
  margin: 0;
}
main nav .notif-user .user-details .user-name .online {
  display: block;
  margin-bottom: 2em;
  font-size: 15px;
  color: #4BB76B;
}

.content {
  width: 100%;
}
.content .stats-container {
  border: 2px solid red;
  padding: 0.5em 3em;
}
.content .stats-container .the-card-container {
  display: grid;
  grid-template-columns: repeat(4, auto);
  column-gap: 5em;
}
.content .stats-container .the-card-container .one-card {
  display: flex;
  justify-content: space-between;
  padding: 1em 1.5em;
  border-radius: 8px;
  box-shadow: 0px 3px 8px 2px rgba(0, 0, 0, 0.1);
}
.content .stats-container .the-card-container .one-card .icon {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background-color: #E3BCEE;
  display: flex;
  justify-content: center;
  align-items: center;
}
.content .stats-container .the-card-container .one-card .icon i {
  font-size: 38px;
  color: #F04EE6;
}
.content .stats-container .the-card-container .one-card .text {
  margin-right: 0.5em;
}
.content .stats-container .the-card-container .one-card .text .stats-text h2 {
  margin: 0;
  padding: 0;
}
.content .stats-container .the-card-container .one-card .text .stats-text p {
  margin: 0;
  padding: 0;
  margin-bottom: 1em;
}
.content .stats-container .the-card-container .one-card .text .stats-btn {
  display: flex;
  justify-content: center;
  align-items: center;
}
.content .stats-container .the-card-container .one-card .text .stats-btn button {
  background-color: #4BB76B;
  width: 100%;
  padding: 0.5em 3em;
  color: white;
  transition: background-color 0.8s ease-in-out;
}
.content .stats-container .the-card-container .one-card .text .stats-btn button:hover {
  background-color: #4BB76B;
  opacity: 0.8;
}
.content .stats-container .canvas-section {
  width: 100%;
  border: 2px solid red;
  display: flex;
  margin-top: 3em;
}
.content .stats-container .canvas-section .first-line-graph {
  padding: 2em;
  border: 2px solid blue;
  width: 100%;
}
.content .stats-container .canvas-section .first-line-graph .heading {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 3px solid skyblue;
}
.content .stats-container .canvas-section .first-line-graph .heading h4 {
  text-transform: uppercase;
  margin: 0;
  padding: 0;
}
.content .stats-container .canvas-section .first-line-graph .heading .date-dropdown {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.content .stats-container .canvas-section .first-line-graph .heading .date-dropdown i {
  font-size: 18px;
  color: #E8E8E8;
  margin: 0.5em 0em;
}
.content .stats-container .canvas-section .canvas-graph-section {
  width: 100%;
}
.content .stats-container .canvas-section .second-pie-chart {
  padding: 2em;
  border: 2px solid blue;
  width: 50%;
  margin-left: 2em;
}
.content .stats-container .canvas-section .second-pie-chart .heading {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 3px solid skyblue;
}
.content .stats-container .canvas-section .second-pie-chart .heading h4 {
  text-transform: uppercase;
  margin: 0;
  padding: 0;
}
.content .stats-container .canvas-section .second-pie-chart .heading .date-dropdown {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.content .stats-container .canvas-section .second-pie-chart .heading .date-dropdown i {
  font-size: 18px;
  color: #E8E8E8;
  margin: 0.5em 0em;
}

#myChart {
  width: 5%;
}

/*# sourceMappingURL=dashboard.css.map */
